* {
    box-sizing: border-box;
}



.slider-text {
    display: flex;
}

.arrow {
    text-decoration: none;
    font-size: 40px;
}

#slider {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-img {
    display: flex;
}

#slider2 {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    width: 200px;
}

.krug1 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: gray solid 1px;

}

.krug2 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: gray solid 1px;

}

.krug3 {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: gray solid 1px;

}

.active{
    border: black solid 3px;
}


.block__krug{
    display: flex;
    
}

